snippet rr
	return render_to_response('${1:template}', $${2:context});
snippet prop
	function ${1:propertyName}()
	{
		if(func_num_args())
		{
			$this->${2:instanceVarName} = func_get_arg(0);
			return $this;
		}
		return $this->$2;
	}
	${3}
snippet $g
	$_GET['${1}']${2}
snippet $p
	$_POST['${1}']${2}
snippet $f
	$_FILES['${1}']${2}
