# html snippets additions
snippet aref
<a href="${1:http://}"${3}>${2}</a>${4}
endsnippet
snippet img
<img src="${1}" style="border: ${2:0};" />${3}
endsnippet
snippet p
<p${1}>${2}</p>${3}
endsnippet

